// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Base font
$base-font-family: 'Open Sans', sans-serif;
$base-font-weight: $regular;
$base-font-size: 19px;
$base-line-height: 24px;

// Header font
$header-font-family: 'Patrick Hand SC', sans-serif;
$header-font-weight: 400;