<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand+SC" rel="stylesheet">
    <link href="/assets/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="image_src" href="/assets/avatar.png" />
    <script src="/assets/js/lazysizes/lazysizes.min.js" async=""></script> 
    <meta property="og:description" content="Martin Aas' portfolio på Internett." />
    <meta content="width=device-width, initial-scale=1" name="viewport" />    
    <title>
        {% if page.title %} {{ page.title }}
        {% else %} {{ site.title }}
        {% endif %}
    </title>
</head>