.header{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1304px;
}

.header-wrapper{
    background-image: linear-gradient(#0082DE, #A8E5FF, white);
}