.header-desktop, .header-mobile{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 1304px;
        margin-bottom: -5.5px;
}

    .header-desktop{
        display: block;
    }

    .header-mobile{
        display: none
    }


@media only screen and (max-width: 600px) {
    .header-desktop{
        display: none
    }

    .header-mobile{
        display: block;
    }
} 



.header-wrapper{
    background-image: linear-gradient(#0082DE, #A8E5FF, white);
}