/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
    .thumbs>li{width:100%;}
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {
    .thumbs>li{width:50%;}
} 

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
    .thumbs>li{width: 33.33333333%;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .thumbs>li{width: 33.33333333%;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1600px) {
    .thumbs>li{width: 25%;}
}