/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.thumbs>li{width:100%;}
	.footer img{width:100px;}
	.bio{width:100%;}
	.contact{width:100%;}
	.bio h4{display:none;}
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.thumbs>li{width:50%;}
	.footer{
		img{width:150px;}
	} 
	.bio{width:100%;}
	.contact{width:100%;}
} 

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 1024px) {
	.thumbs>li{width: 33.33333333%;}
	.bio{width:50%;}
	.contact{width:auto;}

} 

/* Large devices (laptops/desktops, 992px and up) */
//@media only screen and (min-width: 992px) {
//    .thumbs>li{width: 33.33333333%;}
//} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1600px) {
	.thumbs>li{width: 25%;}
}




.videoWrapper {
	position: relative;
    padding-bottom: 54.3%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}