h1, h3, h4, h5{
  font-family: $header-font-family;
  font-weight: $header-font-weight;
  font-variant-ligatures: none;
  color: $secondary-color;
}

h1{
  font-size: 3rem;
  line-height: 2.5rem;
  padding: 0 1rem;
  margin: 1rem 0 0 0;
  text-align: center;
  display: block;
}

h2{
  font-family: $base-font-family;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0.5rem;
}

h3{
  font-size: calc(1.25rem + 0.75vw);
  text-align: center;
  line-height: 1.75rem;
  padding-bottom: 1rem;
  margin-bottom: 0.75rem;
}


body{
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $primary-color;
}

a, a:visited{
  text-decoration: none;
  color: $secondary-color;

  &:hover{
    color: $focus-color;

    h1, h2, h3, h4, h5{
      color: $focus-color;
    }
  }
}