h1, h2, h3, h4, h5{
  font-family: $header-font-family;
  font-weight: $header-font-weight;
  color: $secondary-color;
}

h1{
  font-size: 2rem;
  line-height: 2.25rem;
  margin:0;
  display: block;
}

h3{
  font-size: 1.125rem;
  text-transform: uppercase;
}


body{
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $primary-color;
}

a, a:visited{
  text-decoration: none;
  color: $secondary-color;

  &:hover{
    color: $focus-color;

    h1, h2, h3, h4, h5{
      color: $focus-color;
    }
  }
}