<!DOCTYPE html>
<html lang="no-bm">

    {% include head.html %}

    {% include header.html %}

    <body>
        <section class="page-wrapper post-wrapper">

            {% if page.youtube %}
            <div class="videoWrapper">
                <iframe width="560" height="349" src="{{ page.youtube }}?rel=0&amp;controls=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
            {% endif %}

            {% if page.header-image %}
                {% responsive_image_block %}
                    path: assets/{{ page.header-image }}
                {% endresponsive_image_block %}
            {% endif %}

            <h1>{{ page.title }}</h1>
            
            {% if page.subtitle %}
            <h2>{{ page.subtitle }}</h2>
            {% endif %}
            
            <div class="post-body">

            <div class="post-content">{{content}}</div>

                <ul class="metadata">
                    <li>Publisert {% assign m = page.date | date: "%-m" -%}
                            {{- page.date | date: "%-d" -}}.&nbsp;{%- case m -%}
                              {%- when '1' -%}jan
                              {%- when '2' -%}feb
                              {%- when '3' -%}mar
                              {%- when '4' -%}apr
                              {%- when '5' -%}mai
                              {%- when '6' -%}jun
                              {%- when '7' -%}jul
                              {%- when '8' -%}aug
                              {%- when '9' -%}sept
                              {%- when '10' -%}okt
                              {%- when '11' -%}nov
                              {%- when '12' -%}des
                            {%- endcase -%}&nbsp;{{- page.date | date: "%Y" -}}</li>
                    <li>{% if page.client %}Laget&nbsp;for {{ page.client | replace: " ", "&nbsp;"}} {% else %} Personlig prosjekt {% endif %}</li>
                </ul>

            </div>
            
            
        </section>
    </body>

    {% include footer.html %}

</html>