<!DOCTYPE html>
<html lang="no-bm">

    {% include head.html %}

    {% include header.html %}

    <body>
        <section class="page-wrapper post-wrapper">

            {% if page.youtube %}
            <div class="videoWrapper">
                <iframe width="560" height="349" src="{{ page.youtube }}?rel=0&amp;controls=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
            {% endif %}

            {% if page.header-image %}
            <img class="header-image" src="/assets/{{ page.header-image }}">
            {% endif %}

            <h1>{{ page.title }}</h1>
            
            {% if page.subtitle %}
            <h2>{{ page.subtitle }}</h2>
            {% endif %}
            
            <div class="post-body">

            <div>{{content}}</div>

                <ul class="metadata">
                    <li>{% if page.client %}Laget for {{ page.client }} {% else %} Personlig prosjekt {% endif %}</li>
                </ul>

            </div>
            
            
        </section>
    </body>

    {% include footer.html %}

</html>